
source-code {
  style-set: "source-code";
}

@set syntax
{
  :root > text {
    margin-left:3em;
    hit-margin: 0 0 0 3em;
    white-space: pre;
    display: list-item;
    list-style-type: decimal;    
    background:white;
    border-left:8dip solid transparent;
  }
    
  :root > eof { /* eof mark */
    display: block;
    background:#fdfdfd;
    border-top: 1px dashed gray;
    padding-bottom:*;
    text-align:center;
  }
  
  .html.tag { background:none; color:brown; }
  .css .url { text-decoration:underline; }
  .css .at-rule { color:blue; font-weight:bold; }

  .comment {
    color: #7E7E7E;
    font-style: italic;
  }

  .constant, .constant.unit {
    color: teal;
    font-weight: bold;
  }

  .storage {
      color: #0000A1;
  }

  .string {
      color: brown;
  }

  .keyword {
    color: blue;
    font-weight: bold;
  }

  .selector {
    color: teal;
    background:cornsilk;
  }

  .inherited-class {
      font-style: italic;
  }

  .entity {
      font-weight:bold;
      color: #3E853F;
  }
  .entity.name.id {
      color: brown;
  }

  .support {
      color: #192140;
      background: gold;
  }

  .variable.global, .variable.class, .variable.instance {
      color: #3E853F;
  }

  :root > text > .css > span.start,
  :root > text > .css > span.end,
  :root > text.css.embedded { background-color: #F5FFFB; }
  
  :root > text > .tis > span.start,
  :root > text > .tis > span.end,
  :root > text.tis.embedded { background-color: #F5FBFF; }
  
  :root > text.opens { border-bottom: 1px dashed gray; }
  :root > text.closes { border-top: 1px dashed gray; }
}

@set source-code < syntax {

  :root {
      prototype: SourceCode url(source-code.tis);
      display:block;
      color: #000;
      font-size: 12dip;
      line-height: 16dip;
      font-family: monaco, consolas, monospace;
      font-rendering-mode: snap-pixel;
      overflow:scroll-indicator;
      background:#eee;
      size:*;
  }
  
  :root > text.css.embedded:current,
  :root > text.tis.embedded:current,
  :root > text:current { background-color:rgb(255,200,126); }
  
  :root > text:hover { foreground-color:rgba(126,200,255,0.25); }
  :root > text[breakpoint] { border-color:red; }
 
  
}



