
/* default editing style */

@import url(htmlarea-widgets.css);
@import url(activators/styles.css);

html { 
  font:10pt Verdana,Helvetica,Roboto,sans-serif;
  font-rendering-mode:snap-pixel; // so caret can be placed properly
  flow:vertical; 
  background:none;
}

html > body { 
  margin:0 0.001*;
  padding:0 var(note-padding,10dip); 
  width:*;
  max-width:var(note-width,800dip);
  height:*;
}

table { border-collapse:collapse; }
table td {
  border:1dip solid #ddd;
  padding:4dip 8dip;
}
table th {
  //font-weight:normal;
  color:#444;
  border:1dip solid #ddd;
  padding:4dip 8dip;
  background:#eee; 
}

pre {
  padding:4dip;
  border:1dip solid #ccc; 
  background: #F0F8FF;
  max-width:100%;
  overflow-x: scroll-indicator;
}

code {
  background: #F0F8FF;
}

dt { font-weight:bold; }

:not(pre):not(code)::mark(misspell) { text-decoration:wavy underline red; }  

// links in editor 
html:not(:read-only) a:link { 
  behavior:none;  // do nothing
  text-decoration:underline; 
  color:blue; 
  cursor:text; 
}

html:not(:read-only) br {
  display:inline-block;
  width:0.6em;
  height:1.2em;
  foreground-image: url(path:m 1600.26,479.74 v 704 q 0,13 -9.5,22.5 -9.5,9.5 -23.5,9.5 H 704.26 v 192 q 0,40 -37,58 -37,18 -69,-9 l -384,-320 q -22,-18 -22,-49 0,-31 22,-49 l 384,-320 q 31,-26 69,-9 37,18 37,58 v 192 h 640 v -320 q 0,-14 11,-25 l 192,-160 q 14,-13 34,-4 19,9 19,29 z);
  foreground-repeat: no-repeat;
  foreground-position: 50% 50%;
  foreground-size: 0.6em;
  fill:#bbb;
}

img { max-width:100%; }

blockquote {
  border-left:0.2em solid #84C5F4;
  margin-left:1em;
  padding-left:0.8em;
}

p[type=urlfrom] {
  text-align:right;
  border-top:1dip solid;
}

mark.a { background: #fcfc93; }  
mark.b { background: #a0f7a3; }  
mark.c { background: #e0a0f7; }

// found words marks:
*::mark(found0) { background-color:#ff0; }
*::mark(found1) { background-color:#f8f; }
*::mark(found2) { background-color:#8ff; }
