
/* default editing style */

@import url(htmlarea-widgets.css);
@import url(activators/styles.css);

html { 
  font:10pt Verdana,Helvetica,Roboto,sans-serif;
  //font-rendering-mode:snap-pixel; // so caret can be placed properly
  flow:vertical; 
  background:none;
}

html > body { 
  margin:0 fx(0.001,2em) 0 0.001*;
  hit-margin:0 4em;
  padding:0 var(note-padding,10dip); 
  width:*;
  max-width:var(note-width,800dip);
  height:*;
}

table { border-collapse:collapse; }
table td {
  border:1dip solid #ddd;
  padding:4dip 8dip;
}
table th {
  //font-weight:normal;
  color:#444;
  border:1dip solid #ddd;
  padding:4dip 8dip;
  background:#eee; 
}

pre {
  padding:4dip;
  border:1dip solid #ccc; 
  background: #F0F8FF;
}

html:read-only pre
{
  overflow-x: scroll-indicator;
  max-width:100%;
}

code {
  background: #F0F8FF;
}

dt { font-weight:bold; }

:not(pre):not(code):not(a)::mark(misspell) { text-decoration:wavy underline red; }  

// links in editor 
html:not(:read-only) a:link { 
  behavior:none;  // do nothing
  text-decoration:underline; 
  color:blue; 
  cursor:text; 
}

html:not(:read-only) br {
  display:inline-block;
  width:0.6em;
  height:1.2em;
  foreground-image: url(path:m 1600.26,479.74 v 704 q 0,13 -9.5,22.5 -9.5,9.5 -23.5,9.5 H 704.26 v 192 q 0,40 -37,58 -37,18 -69,-9 l -384,-320 q -22,-18 -22,-49 0,-31 22,-49 l 384,-320 q 31,-26 69,-9 37,18 37,58 v 192 h 640 v -320 q 0,-14 11,-25 l 192,-160 q 14,-13 34,-4 19,9 19,29 z);
  foreground-repeat: no-repeat;
  foreground-position: 50% 50%;
  foreground-size: 0.6em;
  fill:#bbb;
}

img { max-width:100%; }
picture { max-width:100%; }

blockquote {
  border-left:0.2em solid #84C5F4;
  margin-left:1em;
  padding-left:0.8em;
}

p[type=urlfrom] {
  text-align:right;
  border-top:1dip solid;
}

mark.a { background: #fcfc93; }  
mark.b { background: #a0f7a3; }  
mark.c { background: #e0a0f7; }

// found words marks:
*::mark(found0) { background-color:#ff0; }
*::mark(found1) { background-color:#f8f; }
*::mark(found2) { background-color:#8ff; }

//html:visited { margin-right:10em; /*to accomodate change markers*/}

body :visited {
  hit-margin: 0 4em;
}
body :visited::shade // new addition while merging
{
  behavior:clickable;
  prototype: MergeInfo url(htmlarea-widgets.tis);  
  font:system;
  width:2em;
  height: auto;
  vertical-align:middle;
  margin-left:100%;
  margin-bottom:*;
  flow:horizontal;
  //margin-left:*;
  //border-left: 3dip solid gold;
  //padding: 0.25em;
  //content: prop(modified);
  //white-space:pre;
  //color:red;
  background:#fefefe;
  cursor:pointer;
  z-index:1;
} 

.indicator {
  size:1.2em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1em 1em;
  stroke: none;  
}

.indicator.content.removed {
  //background-color: #f00;
  background-image: url(path:M1344 960v-128q0-26-19-45t-45-19h-768q-26 0-45 19t-19 45v128q0 26 19 45t45 19h768q26 0 45-19t19-45zm320-64q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z);
  fill: #FF4500;
}

.indicator.content.inserted {
  background-image: url(path:M1344 960v-128q0-26-19-45t-45-19h-256v-256q0-26-19-45t-45-19h-128q-26 0-45 19t-19 45v256h-256q-26 0-45 19t-19 45v128q0 26 19 45t45 19h256v256q0 26 19 45t45 19h128q26 0 45-19t19-45v-256h256q26 0 45-19t19-45zm320-64q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z);
  fill: #008000;
}

.indicator.content.changed,
.indicator.content.replaced {
  background-image: url(path:M832 1184v-576q0-14-9-23t-23-9h-256q-14 0-23 9t-9 23v576q0 14 9 23t23 9h256q14 0 23-9t9-23zm448 0v-576q0-14-9-23t-23-9h-256q-14 0-23 9t-9 23v576q0 14 9 23t23 9h256q14 0 23-9t9-23zm384-288q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z);
  fill: #FF8C00;
}


