
@import url(../color.css);

// styling of widgets inside the editor:


dir {
  padding-left:0;
  padding-right:0;
}

dir > li { 
  prototype: CheckListItem url(htmlarea-widgets.tis);
  display:block; 
  foreground-image: url(path:M1312 256h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-832q0-66-47-113t-113-47zm288 160v832q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q119 0 203.5 84.5t84.5 203.5z);
  foreground-size: 1em 1em;
  foreground-repeat:no-repeat;
  foreground-position:0 0;
  foreground-image-cursor: pointer;
  padding-left:1.4em;
  margin: 1em 0;
  fill:#000;
} 

dir > li.checked { 
  foreground-image: url(path:M1472 930v318q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-10 10-23 10-3 0-9-2-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-254q0-13 9-22l64-64q10-10 23-10 6 0 12 3 20 8 20 29zm231-489l-814 814q-24 24-57 24t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24 57-24t57 24l263 263 647-647q24-24 57-24t57 24l110 110q24 24 24 57t-24 57z);
  foreground-size: 1.2em 1em;  
}

dir > li.mixed {
  foreground-image: url(path:M1664 416v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z);
  fill:#aaa;  
}

html a:link[href^="note:"] {
  prototype:NoteLink url(htmlarea-widgets.tis);
  fill:#DDD;
  //color:#800000;
}

html a:link[href^="note:"]::before { 
  display:inline-block;
  content:"";
  width:1.4em;
  height:1.2em;
  background-image: url(path:M1408 928v-480q0-26-19-45t-45-19h-480q-42 0-59 39-17 41 14 70l144 144-534 534q-19 19-19 45t19 45l102 102q19 19 45 19t45-19l534-534 144 144q18 19 45 19 12 0 25-5 39-17 39-59zm256-512v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1.2em 1.2em;
  stroke-width:1px;
  stroke:blue;
  padding-right: 2em; 
  vertical-align:middle;
  padding:0;
  text-decoration:none;
}

html a:link[href^="note:"][color=0] { fill: @FC0; }
html a:link[href^="note:"][color=1] { fill: @FC1; }
html a:link[href^="note:"][color=2] { fill: @FC2; }
html a:link[href^="note:"][color=3] { fill: @FC3; }
html a:link[href^="note:"][color=4] { fill: @FC4; }
html a:link[href^="note:"][color=5] { fill: @FC5; }
html a:link[href^="note:"][color=6] { fill: @FC6; }

html a:link[href^="note:"].deleted {
  text-decoration:line-through; 
  color: #999;
  fill:#eee;
  stroke:#eee;
}

