input[type="text"][nullable] {
  aspect: NullableEdit url(nullable.tis);
  padding-right:1.6em;
  foreground-image: url(path:M 15.125 12.28125 L 12.28125 15.125 L 22.21875 25 L 12.28125 34.875 L 15.125 37.71875 L 25.0625 27.84375 L 35 37.71875 L 37.8125 34.875 L 27.90625 25 L 37.8125 15.125 L 35 12.28125 L 25.0625 22.15625 L 15.125 12.28125 z);
  foreground-repeat:no-repeat;
  foreground-size: 0.8em;
  foreground-position-top:50%;  
  foreground-position-right:0.4em;
  foreground-image-cursor: pointer;
  fill: color(icon-color);
  stroke: none;
}

