<html>
  <head>
    <title></title>
    <style></style>
    <script type="text/tiscript">
    
      var outUrl = $(pre#out-url);
      var outPath = $(pre#out-path);
    
      self.on("click","#open",function(){
      
        const filter = "HTML Files (*.htm,*.html)|*.htm;*.html|All Files (*.*)|*.*";
        const defaultExt = "html";
        const initialPath = System.path(#USER_DOCUMENTS);
        const caption = "Select file to open";
      
        var url = view.selectFile(#open, filter, defaultExt, initialPath, caption );
        if( url ) {
          outUrl.text = url;
          outPath.text = URL.toPath(url);
        } else {
          outUrl.text = "{rejected}";
          outPath.text = "";
        }
        
        return true;
      });
      
      self.on("click","#save",function(){
      
        const filter = "HTML Files (*.htm,*.html)|*.htm;*.html|All Files (*.*)|*.*";
        const defaultExt = "html";
        const initialPath = System.path(#USER_DOCUMENTS,"newdoc");
        const caption = "Select file to save";
      
        var url = view.selectFile(#save, filter, defaultExt, initialPath, caption);
        if( url ) {
          outUrl.text = url;
          outPath.text = URL.toPath(url);
        } else {
          outUrl.text = "{rejected}";
          outPath.text = "";
        }
      });
      
      
    </script>
  </head>
<body>
  <h2>view.selectFile() demo</h2>
  <button #open>Open</button>
  <button #save>Save</button>
  <p>URLs:</p>
  <pre#out-url></pre>
  <p>Paths:</p>
  <pre#out-path></pre>

</body>
</html>
