
input[type="hex-number"]
{
	style-set: "hex-edit";
}

@set hex-edit
  {
    :root
    {
      prototype:HexEditor url(hex-editor.tis); 
      font-family:monospace;
      color:windowtext;
      background:#fff; 
      border:1dip solid threedshadow;
      width: 6em;
      height: min-intrinsic;
      cursor:default;
      white-space: nowrap;
      text-align:right;
	    flow:"1 2" 
	         "1 3" ;
	    //context-menu:url(res:menu-edit.htm);
    }
    :root:rtl
    {
	    flow:"2 1" 
	         "3 1";
    }
    
    :root > caption 
    { 
      display:block;
	    flow:text;
      behavior: edit;      
      height:*; width:*;
      padding:2dip; 
	    cursor:text;
      white-space:pre;
      overflow-x:hidden-scroll;
      -filter:"0~9A~Fa~f";
      text-selection: windowtext threedface;
    }
    
    :root > caption:focus { 
      text-selection: highlighttext highlight; 
    }
        
    :root:disabled
    { 
      background:#ccc; 
	    color:graytext;
    }
  
    :root:invalid
    {
      color:red;
    }
  
    :root > button
    {
      height:*;
      width:1.2em;
      background:threedface;
      border-left:1dip solid threedshadow;
      foreground-position:50% 50%;
      foreground-size:5dip;
      foreground-repeat:no-repeat;
    }

    :root:rtl > button {
       border-left:none;
       border-right:1dip solid threedshadow; 
    }

    :root > button:hover
    {
      transition:none;
      background:highlight;
    }
    :root > button:active
    {
      background:highlight;
    }
    :root > button:disabled
    {
      background:#ccc; 
    }
  
    :root > button.minus
    {
      padding:0;
      //border-radius: 0 0 @INPUT-RADIUS 0;
      foreground-image: url(stock:arrow-down); 
    }
   
    :root > button.plus
    {
      padding:0;
      //border-radius: 0 @INPUT-RADIUS 0 0;
      foreground-image: url(stock:arrow-up); 
    }    
}