  html { background:#EEE; }
  #box { border:1px solid black; width:600dip; margin:*; background: #FFF;}
  picture { size:100dip; foreground-size:contain; }
  .explanation {width:60%; margin:*; margin-bottom:10pt; }
  textarea { display:block; width:60%; margin:*; margin-top:10pt; overflow-x:none; font-family:monospace;}
  form { width:max-content; margin:*; }
  form > button {font-size:17dip; padding:0.5em 1em;}
