
div.tapev
{
  width:300dip;
  height:*;
  prototype: TapeV;
  border:1dip solid #AAA;
  background-color: gold;
  overflow:hidden-scroll; /* this allows to scroll content without scrollbars */
  flow:vertical;
  /* Following prevents use of ::ScrollDC but creates realistic effect. 
     To reduce CPU consumption simply delete these three: */  
  foreground-image: url(images/cover.png);
  foreground-repeat: expand;
  foreground-position: 32 16 32 16; 
}

div.tapev > div.item
{
  margin:10dip;
  padding:4dip;
  background-color: white;
  min-height:64dip;
}

div.tapev > div.item > caption
{
  background-color: #DDD;
  margin:-4dip -4dip 4dip -4dip;
  padding:4dip;
}