note { 
  display:block; 
  //border-radius:24dip;
  margin:10dip; padding:5dip; 
  font:system;
  padding-left:56dip;
  padding-right:24dip;
  background: #FFF url(sciter:icon-information.png) no-repeat 4dip 50%;
  min-height: 46dip;
  vertical-align:middle;
}  