note { 
  display:block; 
  background:#EEF;
  border-radius:24px;
  margin:10px; padding:5px; 
  font:system;
  padding-left:56px;
  padding-right:24px;
  foreground: url(res:icon-information.png) no-repeat 4px 50%;
  min-height: 44px;
  vertical-align:middle;
}  