
table { border-collapse:collapse; }
table td, table th {
  border:1dip solid #ccc;
  padding:4dip 8dip;
}

pre {
  padding:4dip;
  max-width:100%;
}

dt { font-weight:bold; }

img { max-width:100%; }

blockquote {
  border-left:0.2em solid #ccc;
  margin-left:1em;
  padding-left:0.8em;
}

p.urlfrom {
  text-align:right;
  border-top:1dip solid;
}