// colors

// contrast, foreground:
@const FC0 : #ffffff;
@const FC1 : #fca2a2;
@const FC2 : #fac28e;
@const FC3 : #ffef8d;
@const FC4 : #a8f9a8;
@const FC5 : #9ddafe;
@const FC6 : #cfc0f9;
// light, background
@const BC0 : #ffffff;
@const BC1 : #ffd9d9;
@const BC2 : #ffe4ca;
@const BC3 : #fef6c4;
@const BC4 : #d5ffd5;
@const BC5 : #ddf2ff;
@const BC6 : #ede6ff;
