
// colors

// contrast, foreground:
@const FC0 : #ffffff;
@const FC1 : #fca2a2;
@const FC2 : #fac28e;
@const FC3 : #ffef8d;
@const FC4 : #a8f9a8;
@const FC5 : #9ddafe;
@const FC6 : #cfc0f9;
// light, background
@const BC0 : #ffffff;
@const BC1 : #ffd9d9;
@const BC2 : #ffe4ca;
@const BC3 : #fef6c4;
@const BC4 : #d5ffd5;
@const BC5 : #ddf2ff;
@const BC6 : #ede6ff;


@mixin HEADER-BAND
{
  height:38dip;
  background:#eee;
  border-bottom:1px solid #ccc;
}

@mixin FOOTER-BAND {
  font:system;
  font-size:12dip;
  padding:0;
  border-top:1px solid #ccc;
  background:color(notes-back);
  height:20dip;
  border-spacing:6dip;
  width:*;
  flow:horizontal;
  overflow-x:hidden;
}

@mixin FOOTER-BAND-LABEL {
  display:block;
  width:max-content;
  padding:0;
  margin:0;
  height:20dip;
  line-height:height(100%);
  color:#999;
}
/*@mixin FOOTER-BAND-OUTPUT {
  display:block;
  width:max-content;
  padding:0 4dip;
  margin:0;
  height:20dip;
  line-height:height(100%);
  //background:var(notes-list-back, #e8e8e8);
}

@mixin FOOTER-BAND-CTL {
  display:block;
  width:max-content;
  padding-top:0;
  padding-bottom:0;
  margin:0;
  height:20dip;
  line-height:height(100%);
} */



@import url(note-view.css);
@import url(notes-view.css);
@import url(tags-view.css);
@import url(aside.css);
@import url(libs/notifications.css);

html { 
  background:#333;
  font:10pt Verdana,Helvetica,Roboto,sans-serif;
  font-rendering-mode:snap-pixel; 
  //background-color:rgba(96,96,96,0.85); 
  //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  //background-size:600dip 300dip;  
  var(note-width) : 800dip;
  var(note-padding) : 10dip;

  var(tags-back)  : #444; //#34464f;
  var(notes-back)  : #eee;//#dfd6cf;
  var(notes-list-back)  : #f8f8f8;
  var(note-back)  : #fffffd;
  var(selection)  : #ccc;
  var(selection-text)  : #000;  
  var(selection-dark)  : #888;
  var(selection-dark-text)  : #fff;
  var(selection-dark-hover)  : rgba(255,255,255,0.1);
  var(band-size): 38dip; // size of top and side bands (bars)
}

@media blur-behind {
  html { background-color:transparent; }
}

body {
  flow:stack;
  margin:0;
}

frame#overlay { visibility:none; }
body.overlay-shown > frame#overlay { visibility:visible; }

notes-view {
  border-top:1px solid #ccc; 
}
note-view {
  background: var(note-back, #fff);
  border-top:1px solid #ccc; 
}

frameset {
  prototype: Frameset url(main-ui.tis);
  size:*; // spans the whole window
}

frameset > splitter {
  width:1px;
  background: #ccc;
  border: none;
  hit-margin:0 2dip;
}

section.collapsible          { prototype: CollapsibleSection url(libs/collapsible.tis); 
                               height:max-content; }
section.collapsible > header { behavior:button; }
section.collapsible > header:tab-focus { outline:#f00 1dip dashed -1dip; }

section.collapsible:collapsed > :not(header) { visibility:none; }

[color=0] { fill: @FC0; }
[color=1] { fill: @FC1; }
[color=2] { fill: @FC2; }
[color=3] { fill: @FC3; }
[color=4] { fill: @FC4; }
[color=5] { fill: @FC5; }
[color=6] { fill: @FC6; }

menu.context > caption { padding-left:2em; margin:0; }

menu.context > div.colors {
  flow: horizontal;
  padding:0 1em 0 2em;
}
menu.context > div.colors > li 
{
  size:14dip;
  padding:3dip; margin:0;
  foreground-image: url(path: M1664 896q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z);
  foreground-repeat:no-repeat;
  foreground-position: 50% 50%;
  foreground-size: 12dip 12dip;
  stroke:#000;
  stroke-width:1dip;
  cursor:pointer;
}
menu.context > div.colors > li:checked {
  stroke-width:2dip;
} 

frame#worker { prototype: NoteFrame url(htmlarea/htmlarea.tis); visibility:collapse; }

/* shell drag-n-drop */

/*.file-target, .html-target, .html-target 
{
  aspect: SysDDTarget url(main-ui.tis);
  //outline:2dip orange solid -2dip;
}*/

.active-target {
  outline:2dip orange solid -2dip; 
}