html {
  prototype: PopupDialog url(popup-dialog.tis);
  padding:0.5em;
  background:#f8f8f8;
  font:system;
  cursor:default;
  border-spacing: 0.5em;
  size:max-content;
  border:1dip solid #ccc;
  margin:0.5em;
}

body { margin:0; padding:1em; }

form { border-spacing: 1em; }

form label { margin-left:*; vertical-align:baseline;}
form input { vertical-align:baseline; }

footer {
  margin-top:1em;
  text-align:right;
}          
