@import url(htmlview/htmlview.css);
@import url(textview/textview.css);
@import url(mdview/mdview.css);

editor { 
  prototype: Editor url(editor.tis);
  display:block;
  flow:vertical;
  size:*;
  background:transparent;

  visibility: none;
}

editor > htmlarea { size:*; border:none; background:transparent; overflow:scroll-indicator; }
editor > plaintext.sourceview { style-set:textview; visibility:none; size:*; }
editor > plaintext.mdview { style-set:mdview; visibility:none; size:*; }

editor[mode="source"] > plaintext.sourceview { visibility:visible; }
editor[mode="source"] > htmlarea { visibility:none; }

editor[mode="markdown"] > plaintext.mdview { visibility:visible; }
editor[mode="markdown"] > htmlarea { visibility:none; }

editor:current { visibility: visible; }

toolbar.textview { visibility:none; }

toolbar.file { margin:0; }
toolbar.document { margin:0; }

toolbar.document .source { foreground-size:15dip; foreground-image: url(path:M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z)}  
toolbar.document .markdown { foreground-size:19dip; foreground-image: url(path:M593.85 452.92H46.15C20.7 452.92 0 432.22 0 406.77V105.23c0-25.45 20.7-46.15 46.15-46.15h547.69c25.45 0 46.15 20.7 46.15 46.15v301.54c.01 25.45-20.69 46.15-46.14 46.15zm-440-92.3v-120l61.54 76.92 61.54-76.92v120h61.54V151.38h-61.54l-61.54 76.92-61.54-76.92H92.31v209.23h61.54zM566.15 256h-61.54V151.38h-61.54V256h-61.54l92.31 107.69L566.15 256z)}  

toolbar.file button#new-file { foreground-size:17dip 18dip; foreground-image: url(path:M 4.5 2 C 3.6774686 2 3 2.6774686 3 3.5 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 11.5 14 C 12.322531 14 13 13.322531 13 12.5 L 13 5.2929688 L 12.853516 5.1464844 L 9.7070312 2 L 4.5 2 z M 4.5 3 L 9 3 L 9 6 L 12 6 L 12 12.5 C 12 12.781469 11.781469 13 11.5 13 L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 3.5 C 4 3.2185314 4.2185314 3 4.5 3 z M 10 3.7070312 L 11.292969 5 L 10 5 L 10 3.7070312 z); }
toolbar.file button#open-file { foreground-size:17dip 18dip; foreground-image: url(path:M 4.5 2 C 3.6774686 2 3 2.6774686 3 3.5 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 11.5 14 C 12.322531 14 13 13.322531 13 12.5 L 13 5.2929688 L 12.853516 5.1464844 L 9.7070312 2 L 4.5 2 z M 4.5 3 L 9 3 L 9 6 L 12 6 L 12 12.5 C 12 12.781469 11.781469 13 11.5 13 L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 3.5 C 4 3.2185314 4.2185314 3 4.5 3 z M 10 3.7070312 L 11.292969 5 L 10 5 L 10 3.7070312 z M 6 8 L 6 9 L 6.5 9 L 9.5 9 L 10 9 L 10 8 L 9.5 8 L 6.5 8 L 6 8 z M 6 10 L 6 11 L 6.5 11 L 8.5 11 L 9 11 L 9 10 L 8.5 10 L 6.5 10 L 6 10 z);}
toolbar.file button#save-file { foreground-size:17dip; foreground-image: url(path:M 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 6 L 18 3 L 5 3 z M 8 4 L 16 4 L 16 9 L 8 9 L 8 4 z M 13 5 L 13 8 L 15 8 L 15 5 L 13 5 z M 7 12 L 17 12 C 17.6 12 18 12.4 18 13 L 18 18 C 18 18.6 17.6 19 17 19 L 7 19 C 6.4 19 6 18.6 6 18 L 6 13 C 6 12.4 6.4 12 7 12 z);}
//toolbar.file button#save-file-as { foreground-size:20dip; foreground-position:50% 4dip; foreground-image: url(path:M 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 17.3125 21 L 15.3125 19 L 7 19 C 6.4 19 6 18.6 6 18 L 6 13 C 6 12.4 6.4 12 7 12 L 17 12 C 17.6 12 18 12.4 18 13 L 18 14.3125 L 21 17.3125 L 21 6 L 18 3 L 5 3 z M 8 4 L 16 4 L 16 9 L 8 9 L 8 4 z M 13 5 L 13 8 L 15 8 L 15 5 L 13 5 z M 16 16 L 16 17.59375 L 21.1875 22.8125 L 22.8125 21.1875 L 17.59375 16 L 16 16 z M 23.1875 21.59375 L 21.59375 23.1875 L 22.3125 23.90625 C 22.4125 24.00625 22.70625 24.00625 22.90625 23.90625 L 23.90625 22.90625 C 24.10625 22.70625 24.10625 22.5125 23.90625 22.3125 L 23.1875 21.59375 z);}


