
@const DIALOG-SHOW-DURATION: 400ms;
@const DIALOG-SHOW-EASING: quad-in;

body.dialog-shown {
  filter: blur(25dip);
  foreground-color:rgba(0,0,0,0.1);
  transition: foreground-color(@DIALOG-SHOW-EASING,@DIALOG-SHOW-DURATION);
}

/* dialog "window" frame */
div.dialog-frame 
{
  position:absolute;
  font: system;
  width: 300dip;
  height: max-content;
  min-width: min-content;
  left: *;
  right: *;
  top: 0.4*;
  bottom: 0.6*;
  background-image: url(images/dialog2.png);/* square top / round bottom */
  background-repeat: expand;
  background-position: 38 20 20 20;
  background-image-transformation:color-schema("system");
  
  //background-color: window;
  //border-radius: 0 0 10dip 10dip; /* square top / round bottom */
  cursor:default;
  padding:10px;

  opacity:0.01;
}

div.dialog-frame.shown {
  opacity:1.0;
  transition: opacity(@DIALOG-SHOW-EASING,@DIALOG-SHOW-DURATION);
}

/* dialog "window" caption */
div.dialog-frame > caption 
{
  font-weight: bold;
  line-height: 28dip;
  background-color: threedface threedface threedshadow threedshadow;
  padding:0 10dip;
}

/* dialog body element */
div.dialog-frame > :nth-child(2) 
{
  height: *;
  padding: 10dip;
}

/* dialog button bar */
div.dialog-frame > text.buttons
 {
  margin:20dip 10dip 10dip *;
  width: max-intrinsic;
  white-space: nowrap;
  border-spacing:10dip;
  flow:horizontal;
  /*
  border-top: 1dip solid threedshadow;
  padding-top: 10dip;
  */
}

/* button on dialog button bar */
div.dialog-frame > text.buttons > button 
{
  width: 55dip;
  text-align: center;
  vertical-align: middle;
  padding: 5dip 10dip;
}
