
html[lang] { aspect:"Lang.Controller" url(lang.tis); }

html[lang] label,
html[lang] dfn,
html[lang] .dfn { aspect:"Lang.Label"; }

html[lang] var,
html[lang] .var { aspect:"Lang.Formatter"; }

html[lang] [title] { aspect:"Lang.Title"; }
html[lang] [novalue] { aspect:"Lang.Novalue"; }

html[lang] output { aspect:"Lang.Output"; }