
popup#notification { style-set: notification-message; }

@set notification-message {

  :root {
    prototype: Notification url(notification.tis);
    background: transparent;
    margin:20dip 0;
    size: max-content;
    display:block;
    visibility:none;
    transform: translate(0,0); opacity:1.0;
    font:system;
  }

  :root:not([state=initial]) {
    transition: transform linear 500ms, opacity linear 500ms;
  }
  
  :root[state] {visibility:visible;}
  :root[state=initial] { transform: translate(0,100%); opacity:0.0; } /* offstage */
  :root[state=shown]   { transform: translate(0,0);    opacity:1.0; transition: }
  :root[state=closed]  { transform: translate(100%,0); opacity:0.0; transition: }

  :root > div {
    background: gold;
    border: 2dip solid gray;
    border-radius: 10dip;
    margin:6dip; // gap for shadow 
    width: 300dip;
    box-shadow: 2dip 2dip 2dip rgba(0,0,0,0.5);  
  }
  
  
  header { display:block; border-bottom: 1px dashed gray; padding: 4dip; }
  content { display:block; padding: 8dip; }

}