
@set tape {

  :root {
    display:block;
    flow:stack;
    overflow:hidden;
  }

  :root > items
  {
    display:block;
    overflow:hidden-scroll; /* this allows to scroll content without scrollbars */
    flow:vertical;
    size:*;
  }

  :root > items[atend]
  {
    vertical-align:bottom;
  }

  :root > scrollbar { 
    display:block;
    width:6dip;
    //height:2em;
    margin:1dip 1dip 1dip *;
    padding-bottom:*;
    background-color: rgba(127,127,127,0.01);
    foreground-color: rgba(0,0,0,0.4);
    foreground-clip:content-box;
    transition: width 400ms quad-out,background-color 400ms linear;
  }

  :root > scrollbar:hover {
    width:12dip;
    background-color: rgba(127,127,127,0.25);
  }
}
