<html>
    <head>
        <title>Test</title>
        <style>

main { size:*; }

tabs > stripe > label:current {
  background-color: highlight;
  color: highlighttext;
} 

tabs > div {
  padding: 1em;
  border:1dip solid highlight;
}

        </style>
        <script type="text/tiscript">
        </script>
    </head>
    <body>
      <p>Test of &lt;Tabs> component.</p>
      <p>Note: this component is deliberately minimally styled. Particular styling is repsonsibility of the app.</p>
      
      <reactor|Tabs src="tabs.tis">
        <tab(first) label="First tab">First tab content</tab>
        <tab(second) label="Second tab">Second tab content</tab>
        <tab(third) label="Third tab" src="tab-content.htm"></tab>
      </reactor>
 

    </body>
</html>